#menu-0 .navbar-toggler {
  color: #000;
}
#header2-1 I {
  font-size: 80px;
  color: #0275d8;
}
#header2-1 P {
  color: #000000;
}
#header3-4 H3 {
  text-align: center;
  font-size: 80px;
  color: #0d50b6;
}
#msg-box1-b H2 {
  text-align: center;
  font-size: 60px;
}
#content4-a P {
  text-align: left;
  font-size: 20px;
}
#content4-a H4 {
  text-align: right;
  font-size: 19px;
}
#footer1-d P {
  color: #f1c050;
}
